@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Fawlty Towers is a family-owned hotel run by Basil and Sybil Fawlty. <br />
    Meet the fantastic and lovable staff of Polly and Manuel while you enjoy your stay at the English Riviera </p>
