@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Torquay
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@fawltytowers.co.uk</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@fawltytowers.co.uk</a>
</address>