@{
    ViewBag.Title = "Fawlty Towers";
}

<div class="jumbotron">
    <h1>Fawlty Towers</h1>
    <p class="lead">The greatest place to stay in the English riviera!</p>
    <p>Enjoy your stay with the greatest service!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            <a href="/Home/Signup"> Sign up</a> today to book fast and easy!
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Already have an account?</h2>
        <p><a href="/Home/Login">  Log in </a> to book your favourite room today!</p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>For any questions about bookings, dietary needs or access, please <a href="/Home/Contact">contact us</a> for more information.</p>
        <p></p>
    </div>
</div>