@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Login";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<input id="name" type="text" /><!--<input id="pass" type="text" />--><input id="submit_login" type="button" value="Login" />