@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Login";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<form name="try_login" action="/Home/YourAccount">
    <input id="name" type="text" name="name" />
    <input id="pass" type="text" name="pass"/>
    <input id="submit_login" type="submit" value="Login" />
</form>