@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Your Account";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div>
    @if (ViewBag.Name != "")
    {
    <p>Welcome @ViewBag.Name</p>
    <p>Your password is @ViewBag.Pass</p>
    }
    else
    {
        <p>Please <a href="/Home/Login">  Log in </a></p>
    }
</div>
